.hover-fill-red {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.hover-fill-red::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ff2d00;
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  border-radius: inherit;
}

.hover-fill-red:hover::before {
  transform: translateY(0);
}

.play-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.1);
  animation: pulse-ring 2s infinite;
  z-index: 0;
}

@keyframes pulse-ring {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

.features .item:hover {
    background-color: black;
    color: white;
    transition: all 0.5s ease;
}

.features .item:hover p {
    color: white;
    transition: all 0.5s ease;
}

.features .item:hover div img:nth-child(2) {
    opacity: 1;
    transition: all 0.5s ease;
}

.orange-gradient-2 {
    filter: blur(55px);
    background: radial-gradient(50% 50% at 50% 50%, rgb(254, 51, 10) 0%, rgb(255, 152, 49) 100%);
}

.orange-gradient-1 {
    filter: blur(55px);
    background: radial-gradient(50% 50% at 50% 50%, rgb(255, 152, 49) 0%, rgb(254, 51, 10) 100%);
}

.footer .footer-text-slider{
    /* display: block; */
    white-space: nowrap;
    animation: fadeLeft 15s linear infinite;
}

@keyframes fadeLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.features .fade-up, .header .fade-up {
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.statics .fade-up-less {
    animation: fadeUpLess 1s ease-in-out;
}

@keyframes fadeUpLess {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.fade-in-left {
    animation: fadeInLeft 1s ease-in-out;
}

.fade-in-right {
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-30%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        transform: translateX(30%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-out-left {
    animation: fadeOutLeft 1s ease-in-out;
}

.fade-out-right {
    animation: fadeOutRight 1s ease-in-out;
}

@keyframes fadeOutLeft {
    from {
        transform: translateX(30%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOutRight {
    from {
        transform: translateX(-30%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.packs .flip-in-y {
    animation: flipInY 0.5s ease-in-out;
}

@keyframes flipInY {
    from {
        transform: perspective(400px) rotateY(-90deg);
        opacity: 0;
    }
    to {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}