@import "tailwindcss";
@config '../../tailwind.config.js';

body {
    @apply font-dm;
}

#carousel::-webkit-scrollbar {
    display: none;
}

#carousel {
    -ms-overflow-style: none;
    scrollbar-width: none;
}